<!-- Home Page for Psychonauts Website -->
<!-- Copyright (c) Dania & Wael 2022 -->


<!-- <%- //include('../nav/navbar.ejs') %>  -->

<html lang="en"><head>
    
<title>Home Page</title>
    <meta charset="utf-8">
 
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&amp;family=Rubik:wght@400;500;600;700&amp;display=swap" rel="stylesheet">

    <!-- Icon Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
        <!-- It is in other file in the homepage folder -->

    <link href="lib/daniaandwael/assets/dania.and.wael.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">

    <!-- It is in other file in the homepage folder as "css/bootstrap.min.css" name -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- It is in other file in the homepage folder as "css/style.css" name -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body >
   

    <!-- Topbar Start -->
     <div class="container-fluid bg-dark px-5 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>Amman,Jordan</small> &nbsp; &nbsp; &nbsp;
                  <small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i> &nbsp; &nbsp;0799237865</small> &nbsp; &nbsp; &nbsp;
                    <small class="text-light"><i class="fa fa-envelope-open me-2"></i> &nbsp; &nbsp;Psychonauts2022@gmail.com</small> &nbsp; &nbsp; &nbsp;
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                  <a class="btn btn-sm   " href="#"><p style="color:  #ffffff; font: normal 20px 'Cookie', cursive; margin: 0;">Psychonauts<span style="color:  #5383d3;">Website</span></p> </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar & Carousel Start -->

    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
            <a href="#" class="navbar-brand p-0">
               <img src="image/logo.png" style="width: 50%">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/" class="nav-item nav-link active">HOME</a>
                    <a href="#ab" class="nav-item nav-link" >ABOUT</a>
                    <a href="/DocList" class="nav-item nav-link"> THERAPISTS LIST</a>
                    <a href="#" class="nav-item nav-link">BLOG</a>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">PHYSIOLOGICAL TESTS</a>
                        <div class="dropdown-menu m-0">
                            <a href="/test" class="dropdown-item">All Tests</a>
                            <a href="/Anxietytest" class="dropdown-item">Anxiety Test</a>
                            <a href="/Depressiontest" class="dropdown-item">Depression Test</a>
                            <a href="/Insomniatest" class="dropdown-item">Insomnia Test</a>
                        </div>
                    </div>
             
                    <a href="#targetname"class="nav-item nav-link">Contact</a>
                </div>
                <button type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal" ><i class="fa fa-search"></i></button>
                <% if(!name) { %> 
                    <form action="/login" method="get">
                        <button type="submit" class="btn text-primary ms-3">ٌ Register </button>
                    </form>
                <% } %> 
                <% if(name) { %> 
                    <button type="button" class="btn text-primary ms-3"> <a href="/profile" ><%= name  %></a>  </button>
                <% } %> 
            </div>
        </nav> 

        <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item">
                                        <img class="w-100" src="image/2.jpg" alt="Image" style="height: 720;">

                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h6 class="display-1 text-white mb-md-4 animated zoomIn">Feeling better starts with a single message !</h6>
                            <a href="#" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Get Started Now !</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item active">
                    <img class="w-100" src="image/homeback.jpg" alt="Image"  style="height: 720;">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h6 class="display-1 text-white mb-md-4 animated zoomIn">Talk to your therapist online privately anytime anywhere!
                                </h6>
                            <a href="quote.html" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Get Started Now !</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Navbar & Carousel End -->


    <!--  Search  -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content" style="background:white;opacity: 100%; ">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="search " style="color: royalblue;font-weight: 200;">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search -->


    <!-- Psychonauts Facts Start -->
    <div class="container-fluid facts py-5 pt-lg-0">
        <div class="container py-5 pt-lg-0">
            <div class="row gx-0">
                <div class="col-lg-4 wow zoomIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: zoomIn;">
                    <div class="bg-primary shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                        <div class="bg-white d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                            <i class="fa fa-users text-primary"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="text-white mb-0">Happy Visitors</h5>
                            <h1 class="text-white mb-0" data-toggle="counter-up"><%= users.length %></h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow zoomIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: zoomIn;">
                    <div class="bg-light shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                            <i class="fa fa-check text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="text-primary mb-0">Sessions Done</h5>
                            <h1 class="mb-0" data-toggle="counter-up"><%= apps.length %></h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: zoomIn;">
                    <div class="bg-primary shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                        <div class="bg-white d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
                            <i class="fa fa-award text-primary"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="text-white mb-0">Therapists</h5>
                            <h1 class="text-white mb-0" data-toggle="counter-up"> <%= docs.length %>  </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Psychonauts Facts End -->


    <!-- About Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;" id="ab">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h5 class="fw-bold text-primary text-uppercase">About Psychonauts
</h5>
                        <h1 class="mb-0">The Best Therapists in Jordan</h1>
                    </div>
                     
                    <p class="mb-4">With 24/7 access to doctors, psychiatrists, psychologists, therapists and other medical experts, care is always available, anytime and anywhere. Select and see your favorite providers again and again, right from our website.</p>
                    <div class="row g-0 mb-3">
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Parenting</h5>
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Eating disorders</h5>
                                                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>  Trauma & grief</h5>

                        </div>
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;">
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Relationship Disorders</h5>
                            <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Anxiety & Stress</h5>
                                                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Family conflict</h5>

                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-4 wow fadeIn" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="mb-2">Call to ask any question</h5>
                            <h4 class="text-primary mb-0">07992378659</h4>
                        </div>
                    </div>
                    <a href="/docRegister" class="btn btn-primary py-3 px-5 mt-3 wow zoomIn" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: zoomIn;">Get Started</a>
                </div>
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <video  autoplay muted loop width="500" height="700"  class="img2" >
  <source src="image/ab.mov" type="video/ogg">
</video>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!--Psychonauts Features Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Benefits of Psychonauts
</h5>
                <h1 class="mb-0">We are here to take care of your mental health</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-4">
                    <div class="row g-5">
                        <div class="col-12 wow zoomIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">
                            <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                               <p style="color: white;font-weight: 500"> 1</p>
                            </div>
                            <h4>Save Time</h4>
                            <p class="mb-0">Eliminate commute time and scheduling hassles.</p>
                        </div>
                        <div class="col-12 wow zoomIn" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: zoomIn;">
                            <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                                <p style="color: white;font-weight: 500">    2</p>


                            </div>
                            
                            <h4>24/7 Support</h4>
                            <p class="mb-0">Flexible plans to meet your needs and lifestyle.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px; visibility: visible; animation-delay: 0.9s; animation-name: zoomIn;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s" src="http://bluetigerrecovery.com/wp-content/uploads/2017/10/Online-counseling.jpg" style="object-fit: cover; visibility: visible; animation-delay: 0.1s; animation-name: zoomIn;">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row g-5">
                        <div class="col-12 wow zoomIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: zoomIn;">
                            <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                                <p style="color: white;font-weight: 500"> 3</p>
                            </div>
                            <h4>Professional </h4>
                            <p class="mb-0">Save money while receiving high-quality care.</p>
                        </div>
                        <div class="col-12 wow zoomIn" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: zoomIn;">
                            <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                                <p style="color: white;font-weight: 500">  4</p>
                            </div>
                            <h4>Privacy</h4>
                            <p class="mb-0">Totally private and secure service.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Psychonauts Features End -->


    <!-- Psychonauts Service Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;" >
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Our Services</h5>
                <h1 class="mb-0">How Psychonauts works ?
</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: zoomIn;">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon"style="color: white">
1                        </div>
                       
                        <p class="m-0">

Get matched with a licensed therapist who specializes in teens</p>
                      
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: zoomIn;">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon"style="color: white">
                            2
                        </div>
                        <p class="m-0">Discuss your child's issues and situation with the therapist
</p>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: zoomIn;">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon"style="color: white">
                            
3                        </div>
                        <p class="m-0">When you approve, the therapist is connected with your child
</p>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: zoomIn;">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon"style="color: white">
4                        </div>
                        <p class="m-0">Your child uses an app on their phone to communicate with the therapist
</p>
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: zoomIn;">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon"style="color: white">
5                       </div>
                        <p class="m-0">The therapist interacts with your child over text, phone, and video
</p>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: zoomIn;">
                    <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="service-icon" style="color: white">
6                        </div>
                        <p class="m-0">Therapy is confidential but the therapist will alert you if an intervention is required
</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Psychonauts Service End -->



    <!-- Contact to Psychonauts Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" style="visibility: hidden; animation-delay: 0.1s; animation-name: none;" id="targetname">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="section-title position-relative pb-3 mb-5">
                        <h5 class="fw-bold text-primary text-uppercase">Request A Urgent Matter</h5>
                        <h1 class="mb-0">Need An Instant Help? Please Feel Free to Contact Us</h1>
                    </div>
                    <div class="row gx-3">
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
                            <h5 class="mb-4"><i class="fa fa-reply text-primary me-3"></i>Reply within 24 hours</h5>
                        </div>
                        <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s" style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">
                            <h5 class="mb-4"><i class="fa fa-phone-alt text-primary me-3"></i>24 hrs telephone support</h5>
                        </div>
                    </div>
                    <p class="mb-4"></p>
                    <div class="d-flex align-items-center mt-2 wow zoomIn" data-wow-delay="0.6s" style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5 class="mb-2">Call to ask any question</h5>
                            <h4 class="text-primary mb-0">0799237865</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="bg-primary rounded h-100 d-flex align-items-center p-5 wow zoomIn" data-wow-delay="0.9s" style="visibility: hidden; animation-delay: 0.9s; animation-name: none;">
                        <form method="post" action="/feedback">
                            <div class="row g-3">
                                <div class="col-xl-12">
                                    <input name="name" type="text" class="form-control bg-light border-0" placeholder="Your Name" style="height: 55px;">
                                </div>
                                <div class="col-12">
                                    <input name="email" type="email" class="form-control bg-light border-0" placeholder="Your Email" style="height: 55px;">
                                </div>
                                <div class="col-12">
                                    <select name="category" class="form-select bg-light border-0" style="height: 55px;">
                                        <option selected="">Select A Service</option>
                                        <option value="complaint">Make a complaint</option>
                                        <option value="feedback">Provide feedback</option>
                                        <option value="Financial">Financial problems</option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <textarea name="message" class="form-control bg-light border-0" rows="3" placeholder="Message"></textarea>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-dark w-100 py-3" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact to Psychonauts End -->


  
    <!--Psychonauts Testimonial Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Testimonial</h5>
                <h1 class="mb-0">What Our Clients Say About Our Website</h1>
            </div>
            <div class="dania-wael testimonial-carousel wow fadeInUp" data-wow-delay="0.6s">
                <div class="testimonial-item bg-light my-4">
                    <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">

                        <img class="img-fluid rounded" src="image/sel2.jpeg" style="width: 60px; height: 60px;" >
                        <div class="ps-4">
                            <h4 class="text-primary mb-1">Momtaz Ibraheem</h4>
                            <small class="text-uppercase">@momtazibra</small>
                        </div>
                    </div>
                    <div class="pt-4 pb-5 px-5">It helped me out so much. I was always scared of therapy. Depression is real. Anxiety is real. Not good to keep it bottled up. Worth every penny.                    </div>
                </div>
                <div class="testimonial-item bg-light my-4">
                    <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <img class="img-fluid rounded" src="image/sel3.webp" style="width: 60px; height: 60px;" >
                        <div class="ps-4">
                            <h4 class="text-primary mb-1">Ali Khaled</h4>
                      
                            <small class="text-uppercase">@abdullahdara</small>
                        </div>
                    </div>
                    <div class="pt-4 pb-5 px-5">
                       A very good Website..thank you so much.
                    </div>
                </div>
                <div class="testimonial-item bg-light my-4">
                    <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <img class="img-fluid rounded" src="https://www.pngitem.com/pimgs/m/560-5603874_product-image-logo-avatar-minimalist-flat-line-hd.png" style="width: 60px; height: 60px;" >
                        <div class="ps-4">
                            <h4 class="text-primary mb-1">Hisham Ragheb</h4>
                            <small class="text-uppercase">@hishragheb22</small>
                        </div>
                    </div>
                    <div class="pt-4 pb-5 px-5">
                       After feeling guilty for so long, I'm
starting to love myself for who I am and feel proud of myself again. I'm starting to let go of many negative feelings that have accompanied me for so many years.
                    </div>
                </div>
                <div class="testimonial-item bg-light my-4">
                    <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <img class="img-fluid rounded" src="image/sel4.jpg" style="width: 60px; height: 60px;" >
                        <div class="ps-4">
                            <h4 class="text-primary mb-1">Sara Osama
                      </h4>
                            <small class="text-uppercase">@sar_osa</small>
                        </div>
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        Dr Zain Almanaseer is very professional and is a great
listener when it comes to very sensitive family matters. He has helped me along the way better understand my feelings and focus on my relationship goals with
my family.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Psychonauts Testimonial End -->



    <!--Psychonauts Team Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" style="visibility: hidden; animation-delay: 0.1s; animation-name: none;">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">PSYCHONAUTS Team </h5>
                <h1 class="mb-0">Professional, licensed, and vetted therapists who you can trust</h1>
            </div>
           
           
       
<center>
    
    

  
<img src="image/Ibrahim%20magdy.jpg" alt="Avatar" style="width:120px;border-radius: 50%;  border: 2px solid white;position: relative;
  top: 0;
  left: 12">
<img src="image/Ms.%20Hala%20Al%20Hawary.png" alt="Avatar" style="width:120px;border-radius: 50%;  border: 2px solid white;">
<img src="image/Abeer%20Toson%20Ahmed.jpg" alt="Avatar" style="width:120px;border-radius: 50%;  border: 2px solid white;position: relative;
  top: 0;
  left: 12">
<img src="image/Dr%20Mohamed%20Taha.png" alt="Avatar" style="width:120px;border-radius: 50%;  border: 2px solid white;">
<img src="image/Andrew%20Nady.jpg" alt="Avatar" style="width:120px;border-radius: 50%;  border: 2px solid white;position: relative;
  top: 0;
  left: 12">
<img src="image/d.jpg" alt="Avatar" style="width:120px;border-radius: 50%;  border: 2px solid white;">
<img src="image/Wassim%20ashraf.jpg" alt="Avatar" style="width:120px;border-radius: 50%;  border: 2px solid white;position: relative;
  top: 0;
  left: 12"><img src="image/Maryam%20Taha.jpg" alt="Avatar" style="width:120px;border-radius: 50%;  border: 2px solid white;">

    
    
    <br><br><p style="font-size: 20;font-family: sans-serif;color :#2d4b75;  ">Tap into a network of licensed, accredited, and experienced therapists who can help you and your family with a range of issues including depression, anxiety, relationships, bullying, trauma, and more. With our therapists, you get the same professionalism and quality you would expect from an in-office therapist, but with the ability to communicate when and how you want.</p>
    <br><br>
    
                            <a href="#" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Get Matched To The Right Therapist</a>
    
</center>
<br>         
        </div>
    </div>
    <!-- Psychonauts Team End -->


    <!-- Psychonauts Blog Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" style="visibility: hidden; animation-delay: 0.1s; animation-name: none;">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Latest Blog</h5>
                <h1 class="mb-0">Read The Latest Articles from Our Blog Post</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s" style="visibility: hidden; animation-delay: 0.3s; animation-name: none;">
                    <div class="blog-item bg-light rounded overflow-hidden">
                        <div class="blog-img position-relative overflow-hidden">
                            <img class="img-fluid" src="image/New%20Year%E2%80%99s%20Resolutions.jpg" alt="">
                            <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">News</a>
                        </div>
                        <div class="p-4">
                            <div class="d-flex mb-3">
                                <small class="me-3"><i class="far fa-user text-primary me-2"></i>Ahmed Khaled</small><br><br>
                            </div>
                            <h4 class="mb-3">
New Year’s Resolutions</h4>
                            <a class="text-uppercase" href="">Read More <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s" style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
                    <div class="blog-item bg-light rounded overflow-hidden">
                        <div class="blog-img position-relative overflow-hidden">
                            <img class="img-fluid" src="image/shame.jpg" alt=""style="width:  100%;">
                            <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">Self-Help</a>
                        </div>
                        <div class="p-4">
                            <div class="d-flex mb-3">
                                <small class="me-3"><i class="far fa-user text-primary me-2"></i>Wesam Mohammed
</small>
                            </div>
                            <h4 class="mb-3">Effective Ways to Overcome Shame</h4>
                            <a class="text-uppercase" href="">Read More <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s" style="visibility: hidden; animation-delay: 0.9s; animation-name: none;">
                    <div class="blog-item bg-light rounded overflow-hidden">
                        <div class="blog-img position-relative overflow-hidden">
                            <img class="img-fluid" src="image/steps.jpg" alt="" style="width:  100%;height: 55%;">
                            <a class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4" href="">Wellness</a>
                        </div>
                        <div class="p-4">
                            <div class="d-flex mb-3">
                                <small class="me-3"><i class="far fa-user text-primary me-2"></i>HALA OSAMA</small>
                            </div>
                            <h4 class="mb-3">8 Steps to Enhance Your Wellbeing</h4>
                            <a class="text-uppercase" href="">Read More <i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Psychonauts  Blog End -->


    <!-- Psychonauts Footer Start -->
    <div class="container-fluid bg-dark text-light mt-5 wow fadeInUp" data-wow-delay="0.1s" style="visibility: hidden; animation-delay: 0.1s; animation-name: none;">
   

		
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous">
<footer class="footer bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
               
			<div class="footer-left">

				<h3 style="color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;">Psychonauts<span style="color:  #5383d3;">website</span></h3>

				<p class="footer-links" style="font-size: 15; font-family: serif;" >
			Feeling better starts with a single click ..
					<a href="#" style="font-size: 20; font-family: serif;">Join us !</a>
				</p>

				<p class="footer-company-name">Psychonauts &copy; 2022</p>
			</div>

            </div><!--end col-->

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <h4 class="text-light footer-head">Psychonauts</h4>
          
                <ul class="list-unstyled footer-list mt-4">
                    <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> HOME</a></li>
                    <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> PHYSIOLOGICAL TESTS </a></li>
                    <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> THERAPIST LIST</a></li>
                    <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> BLOG</a></li>

                </ul>
            </div><!--end col-->

            <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
             <div class="footer-center">

				<div style="font-size: 15; font-family: serif;">
					<p  style="font-size: 17; font-family: serif;"><i class="fa fa-map-marker-alt me-2"></i>Amman,Jordan </p>
				
					<p style="font-size: 17; font-family: serif;"><i class="fa fa-phone-alt me-2"></i> 0799237865</p>
				
					
			</div>

			</div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
               	<p class="footer-company-about">
					<span style="color: white">About our company<br></span><br>
					Psychonauts is a website for For people who need immediate psychological help.
				</p>

            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</footer>
<footer class="footer bg-footer footer-bar">
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="text-sm-left">
                    <p class="mb-0">© 2022. Design with <i class="mdi mdi-heart text-danger"></i></p>
                </div>
            </div><!--end col-->

            <div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <ul class="list-unstyled text-sm-right social-icon social mb-0">
                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                </ul><!--end icon-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</footer>
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/style.css">
<style>
 
.main {
	height: 550px;
	background-color: #262626;
	color: white;
	font-size: 38pt;
	text-align: center;
	line-height: 550px;
}
footer{
	bottom: 0;
}


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;

	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}

}

    
    </style>
<style type="text/css">
body{margin-top:20px;}
.bg-footer {
    background-color: #3b4757 !important;
    
}
.footer {
  padding: 50px 0;
  position: relative;
  color: #adb5bd;
}

.footer .logo-footer {
  font-weight: 700;
  font-size: 22px;
  padding: 2px 0;
  letter-spacing: 1px;
}

.footer .footer-head {
  font-size: 18px;
  letter-spacing: 0.8px;
  font-weight: 600;
}

.footer .text-foot {
  color: #adb5bd;
}

.footer .footer-list {
  margin-bottom: 0;
}

.footer .footer-list li {
  margin-bottom: 10px;
}

.footer .footer-list li a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer .footer-list li a:hover {
  color: #6dc77a !important;
}

.footer .footer-list li:last-child {
  margin-bottom: 0;
}

.footer.footer-bar {
  padding: 30px 0;
  border-top: 1px solid #6c757d;
}

.footer.footer-bar .payment-cards img {
  height: 25px;
}

.social-icon.social li a {
    color: #adb5bd;
    border-color: #adb5bd;
}
.social-icon li a {
    color: #35404e;
    border: 1px solid #35404e;
    display: inline-block;
    height: 32px;
    text-align: center;
    font-size: 15px;
    width: 32px;
    line-height: 30px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    overflow: hidden;
    position: relative;
}
.rounded {
    border-radius: 5px !important;
}
</style>

<script type="text/javascript">

</script>

 
      
      
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</div>
    <!-- Psychonauts Footer End -->


    <!-- Back to Top of the homepage -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top" style="display: none;"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries for homepage of Psychonauts Website-->
     <!-- They are in other files in the homepage folder --> 
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/w/w.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/pp/pp.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/daniaandwael/dania.and.wael.min.js"></script>

    <!--  Javascript for homepage of Psychonauts Website--> 
        <!-- It is in other file in the homepage folder as "js/main.js" name--> 

    <script src="js/main.js"></script>


</body></html>
    <!--End of Home Page for Psychonauts Website -->
