<html>
    <head>

    </head>
    <body>

        <% for(var i=0; i<apps.length; i++) { %>
            <h2> appointment #<%= i %> </h2> 
            <h4> <%= apps[i]["id"] %> </h4>
            <h4> <%= apps[i]["patient"] %> </h4>
            <h4> <%= apps[i]["doctor"] %> </h4>
            <h4> <%= apps[i]["day"] %> </h4>
            <h4> <%= apps[i]["from"] %> </h4>
            <h4> <%= apps[i]["to"] %> </h4>
            <h4> <%= apps[i]["reserved"] %> </h4>
        <% } %>
    </body>
</html>